@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: 25 118 210;

	--header-height: 4rem;
}

@layer base {
	body {
		@apply overflow-x-hidden;
	}
}

.loader {
	width: 48px;
	height: 48px;
	border: 5px solid rgb(var(--primary));
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.products-grid {
	@apply grid grid-cols-4 gap-8;
}
